@using FA.JustBlog.ViewModels.Posts
@model DeletePostViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="main-content-container container-fluid px-4">
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4 mt-5 p-4">
                <h2 class="text-center">Xóa Post</h2>

                <h3>Bạn có muốn xóa Post này không?</h3>
                <div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <button type="submit" class="btn btn-success">Xóa</button>
                            <button type="button" class="btn btn-danger">@Html.ActionLink("Quay lại", "Index")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>